


{% extends "base.html" %}



{% block content %}

    <div class="page-header">

        <h1>Cadastrar Produto</h1>

        <a href="javascript:history.back()" class="back-btn"><i class="fas fa-arrow-left"></i> Voltar</a>

    </div>

    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}

        <div class="row">

            <div class="col-4">

                <p>

                    {{ form.barcode.label }}<br>

                    {{ form.barcode(size=32) }}

                    {% for error in form.barcode.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                    {{ form.name.label }}<br>

                    {{ form.name(size=32) }}

                    {% for error in form.name.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                                        {{ form.category.label }}<br>

                                        {{ form.category() }}

                                        {% for error in form.category.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

        </div>

        <div class="row">

            <div class="col-8">

                <p>

                    {{ form.description.label }}<br>

                    {{ form.description(size=64) }}

                </p>

            </div>

            <div class="col-4">

                <p>

                    {{ form.supplier.label }}<br>

                    {{ form.supplier(size=32) }}

                </p>

            </div>

        </div>

        <div class="row">

            <div class="col-4">

                <p>

                                        {{ form.cost_price.label }}<br>

                                        {{ form.cost_price(size=16, type='number', step='any') }}

                                        {% for error in form.cost_price.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                                        {{ form.sale_price.label }}<br>

                                        {{ form.sale_price(size=16, type='number', step='any') }}

                                        {% for error in form.sale_price.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                    {{ form.unit_of_measure.label }}<br>

                    {{ form.unit_of_measure(size=16) }}

                    {% for error in form.unit_of_measure.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

        </div>

        <div class="row">

            <div class="col-4">

                <p>

                    {{ form.minimum_stock.label }}<br>

                    {{ form.minimum_stock(size=16) }}

                    {% for error in form.minimum_stock.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                    {{ form.quantity.label }}<br>

                    {{ form.quantity(size=16) }}

                    {% for error in form.quantity.errors %}

                        <span style="color: red;">[{{ error }}]</span>

                    {% endfor %}

                </p>

            </div>

            <div class="col-4">

                <p>

                    {{ form.expiration_date.label }}<br>

                    {{ form.expiration_date() }}

                </p>

            </div>

        </div>

        <p>{{ form.submit() }}</p>

    </form>

{% endblock %}
