
{% extends "base_simple.html" %}

{% block content %}
    <div class="form-container">
        <div style="text-align: center;">
            <img src="{{ url_for('static', filename='logo.svg') }}" alt="Intelligent Stock Logo" class="login-logo" style="width: 100px; margin-bottom: 20px;">
        </div>
        <form action="" method="post" novalidate>
            <h1>Registrar</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="submit-p">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
